<!-- <fuse-card
        class="flex flex-col h-64 w-96 m-8 ..."
        [flippable]="true"
        #fuseCard>

        <ng-container fuseCardFront>
            <div class="flex flex-col px-8 py-6 pb-3">
                <div class="text-lg font-bold">{{post.title}}</div>
                <div class="mt-2">
                    {{post.body}}
                </div>
                <div *ngIf="editAccess" class="mt-3 -mx-3 self-end">
                    <button
                        [routerLink]="['/posts/details', post.id,'edit', post.id]"
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button>
                        <span>
                            Edit
                        </span>
                    </button>
                    <button
                        (click)="openDialogue()"
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button>
                        <span>
                            Delete
                        </span>
                    </button>
                </div>
            </div>
        </ng-container>
</fuse-card> -->
<div class="flex flex-col justify-center items-center w-full">
    <!-- border-solid border-2 border-indigo-600 -->
    <fuse-card
        class="flex flex-col h-auto w-1/2 m-8 ..."
        #expandableCard02="fuseCard">
        <div class="flex mx-6 sm:mx-8 mt-6 mb-4">
            <!-- <img
                class="w-10 h-10 rounded-full mr-4"
                src="assets/images/avatars/female-01.jpg"
                alt="Card cover image"> -->
            <mat-icon
                class="icon-size-8 text-[#707070]-500 mr-2"
                >account_circle</mat-icon>
            <div class="flex flex-col">
                <span class="font-semibold leading-none">{{post.username}}</span>
                <div class="flex items-center mt-2">
                    <mat-icon *ngIf="post.privacy==='public'"
                        class="icon-size-3 text-[#707070]-500 mr-2 mt-0.5"
                        >public</mat-icon>
                    <mat-icon *ngIf="post.privacy==='private'"
                        class="icon-size-3 text-[#707070]-500 mr-2 mt-0.5"
                        >lock</mat-icon>
                    <span class="text-sm">{{post.privacy}}</span>
                </div>
            </div>
        </div>
        <div class="font-semibold mx-6 sm:mx-8 mt-4 mb-6">
            {{post.title}}
        </div>
        <div class="mx-6 sm:mx-8 mt-4 mb-6">
            {{post.body}}
        </div>
        <div *ngIf="editAccess" class="mt-1 mx-5 self-end">
            <!-- <img
                class="h-80 object-cover"
                src="assets/images/cards/14-640x480.jpg"
                alt="Card cover image"> -->
                <button
                    class="px-3 mr-1"
                    [routerLink]="['/posts/details', post.id,'edit', post.id]"
                    mat-flat-button>
                    <mat-icon
                        class="icon-size-5 text-red-500 mr-2">edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button
                    (click)="openDialogue()"
                    class="px-3 mr-1"
                    mat-flat-button>
                    <mat-icon
                        class="icon-size-5 text-red-500 mr-2">delete</mat-icon>
                    <span>Delete</span>
                </button>
        </div>
        <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
    </fuse-card>
</div>
<router-outlet></router-outlet>
