<div class="w-full h-full flex justify-center items-center">
    <fuse-alert
        class="mt-8 -mb-4"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </fuse-alert>

    <fuse-card class="flex flex-col max-w-140 w-full h-auto p-6 sm:p-8 pb-6">
        <div class="text-xl font-semibold">Create Post</div>
        <div class="flex flex-col sm:flex-row items-start mt-8">
            <div class="flex items-center mb-6 sm:mb-0">
                <img
                    class="w-12 min-w-12 h-12 rounded-full mr-4"
                    id= "img"
                    [src]= 'user.avatar'
                    alt="Card cover image">
                <!-- <mat-icon
                    class="icon-size-8 text-[#707070]-500 mr-2"
                    >account_circle</mat-icon> -->
                <!-- <div class="sm:hidden">Brian Hughes</div> -->
            </div>

            <div class="w-full">
                <form
                    [formGroup]="createPostForm">
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-1">
                        <input
                            id="title"
                            matInput
                            [placeholder]="'Title'"
                            [formControlName]="'title'">
                            <mat-error *ngIf="createPostForm.get('title').hasError('required')">
                                Title is required
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <textarea
                            id="body"
                            matInput
                            [placeholder]="'What\'s on your mind?'"
                            [rows]="7"
                            [formControlName]="'body'"
                            matTextareaAutosize></textarea>
                            <mat-error *ngIf="createPostForm.get('body').hasError('required')">
                                Description is required
                            </mat-error>
                    </mat-form-field>
                    <mat-radio-group aria-label="Privacy" [formControlName]="'privacy'">
                        <mat-radio-button class="m-3" value="public">Public</mat-radio-button>
                        <mat-radio-button value="private">Private</mat-radio-button><br>
                    </mat-radio-group>
                    <mat-error *ngIf="createPostForm.get('privacy').hasError('required')">
                        Privacy settings required
                    </mat-error>
                    <div class="absolute bottom-5 right-15 mt-4">
                        <button
                            mat-flat-button
                            [disabled]="createPostForm.disabled"
                            (click)="createPost()"
                            [color]="'primary'"
                            >
                            <span *ngIf="!createPostForm.disabled">
                                Post
                            </span>
                            <mat-progress-spinner
                                *ngIf="createPostForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </fuse-card>

</div>


