<div class="w-full h-full">
    <div class="flex justify-center mt-2">
        <!-- flex justify-center items-center
        -->
        <div class="max-w-80 sm:w-80 mx-auto sm:mx-0">

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Update Profile</div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Update form -->
            <form
                class="mt-8"
                [formGroup]="updateForm">
                <div *ngIf="selectedFile" class="img-preview-container">

                    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                         [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                    </div>

                    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                      <div class="img-spinning-circle"></div>
                    </div>

                    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
                    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
                  </div>
                    <mat-label>Avatar</mat-label>
                    <input #imageInput
                        type="file"
                        accept="image/*"

                        (change)="processFile($event)">

                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>First name</mat-label>
                    <input
                        id="firstName"
                        matInput
                        [formControlName]="'firstName'">
                    <mat-error *ngIf="updateForm.get('firstName').hasError('required')">
                        First name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Last name</mat-label>
                    <input
                        id="lastName"
                        matInput
                        [formControlName]="'lastName'">
                    <mat-error *ngIf="updateForm.get('lastName').hasError('required')">
                        Last name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input
                        id="username"
                        matInput
                        [formControlName]="'username'"
                        readonly="true">
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'"
                        readonly="true">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Address</mat-label>
                    <input
                        id="address"
                        matInput
                        [formControlName]="'address'">
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Phone No.</mat-label>
                    <input
                        id="phoneNo"
                        matInput
                        [formControlName]="'phoneNo'">
                </mat-form-field>
                <!-- <mat-form-field class="w-full">
                    <mat-label>Country</mat-label>
                    <mat-select
                    (change)="changeCity($event)"
                    [formControlName]="'country'">
                        <mat-option *ngFor="let country of countries" [value]="country.name">
                            {{ country.name }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field> -->
                  <mat-form-field class="w-full">
                    <mat-label>Country</mat-label>
                    <select
                    matNativeControl
                    (change)="changeCity($event)"
                    [formControlName]="'country'">
                    <option>{{user.country}}</option>
                    <option *ngFor="let country of countries" [value]="country.name">
                        {{ country.name }}
                    </option>
                    </select>
                  </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="updateForm.disabled"
                    (click)="updateProfile()">
                    <span *ngIf="!updateForm.disabled">
                        Update
                    </span>
                    <mat-progress-spinner
                        *ngIf="updateForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>

    </div>

</div>

