<div class="absolute top-5 right-15">
    <button
        class="fuse-mat-button-large w-full mt-6"
        mat-flat-button
        (click)="createPost()">
        <span>
            Create Post
        </span>
    </button>

</div>
<div class="flex flex-col justify-center items-center w-full">
    <!-- border-solid border-2 border-indigo-600 -->
    <fuse-card
        class="flex flex-col h-64 w-1/2 m-8 ..."
        *ngFor="let post of postList"
        #expandableCard02="fuseCard">
        <div class="flex mx-6 sm:mx-8 mt-6 mb-4">
            <!-- <img *ngIf="user.avatar"
                class="w-10 h-10 rounded-full mr-4"
                [src]="user.avatar"
                alt="Card cover image"> -->
            <mat-icon
                class="icon-size-8 text-[#707070]-500 mr-2"
                >account_circle</mat-icon>
            <div class="flex flex-col">
                <span class="font-semibold leading-none">{{post.username}}</span>
                <div class="flex items-center mt-2">
                    <mat-icon *ngIf="post.privacy==='public'"
                        class="icon-size-3 text-[#707070]-500 mr-2 mt-0.5"
                        >public</mat-icon>
                    <mat-icon *ngIf="post.privacy==='private'"
                        class="icon-size-3 text-[#707070]-500 mr-2 mt-0.5"
                        >lock</mat-icon>
                    <span class="text-sm">{{post.privacy}}</span>
                </div>
            </div>
        </div>
        <div class="font-semibold mx-6 sm:mx-8 mt-4 mb-6">
            {{post.title}}
        </div>
        <div class="mt-1 mx-5 self-end">
            <!-- <img
                class="h-80 object-cover"
                src="assets/images/cards/14-640x480.jpg"
                alt="Card cover image"> -->
            <button
                mat-flat-button
                [color]="'primary'"
                [routerLink]="['/posts/details', post.id]">
                Read
            </button>
        </div>
        <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
    </fuse-card>
</div>
