<p >Are you sure?</p>
<div mat-dialog-actions>
    <button class="fuse-mat-button-large m-6" (click)="onNoClick()">No</button>
    <button class="fuse-mat-button-large m-6" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
</div>
